body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:3093px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:3093px;
  display:flex;
}
#u1617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:105px;
  width:1187px;
  height:236px;
}
#u1620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:58px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:960px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:60px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:227px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:58px;
  width:960px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:118px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
}
#u1626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:177px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:379px;
  width:250px;
  height:540px;
  display:flex;
}
#u1628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:379px;
  width:250px;
  height:540px;
  display:flex;
}
#u1629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:379px;
  width:250px;
  height:540px;
  display:flex;
}
#u1630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:379px;
  width:249px;
  height:540px;
  display:flex;
}
#u1631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:614px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1632_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:47px;
  height:10px;
}
#u1632_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-5px;
  width:10px;
  height:45px;
}
#u1632_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:30px;
  width:43px;
  height:10px;
}
#u1632_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:26px;
  width:19px;
  height:18px;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:462px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1633_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:47px;
  height:10px;
}
#u1633_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-5px;
  width:10px;
  height:197px;
}
#u1633_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:182px;
  width:31px;
  height:10px;
}
#u1633_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:178px;
  width:19px;
  height:18px;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:501px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1634_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u1634_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-140px;
  width:10px;
  height:145px;
}
#u1634_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-140px;
  width:330px;
  height:10px;
}
#u1634_seg3 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-140px;
  width:10px;
  height:293px;
}
#u1634_seg4 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:143px;
  width:34px;
  height:10px;
}
#u1634_seg5 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:139px;
  width:19px;
  height:18px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-143px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:542px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:970px;
  width:250px;
  height:542px;
  display:flex;
}
#u1635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:569px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1636_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-5px;
  width:8px;
  height:10px;
}
#u1636_seg1 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-5px;
  width:10px;
  height:371px;
}
#u1636_seg2 {
  border-width:0px;
  position:absolute;
  left:-626px;
  top:356px;
  width:628px;
  height:10px;
}
#u1636_seg3 {
  border-width:0px;
  position:absolute;
  left:-626px;
  top:356px;
  width:10px;
  height:45px;
}
#u1636_seg4 {
  border-width:0px;
  position:absolute;
  left:-630px;
  top:388px;
  width:18px;
  height:19px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:353px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:563px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1637_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:15px;
  height:10px;
}
#u1637_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:10px;
  height:389px;
}
#u1637_seg2 {
  border-width:0px;
  position:absolute;
  left:-892px;
  top:374px;
  width:887px;
  height:10px;
}
#u1637_seg3 {
  border-width:0px;
  position:absolute;
  left:-892px;
  top:374px;
  width:10px;
  height:33px;
}
#u1637_seg4 {
  border-width:0px;
  position:absolute;
  left:-896px;
  top:394px;
  width:18px;
  height:19px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:-318px;
  top:371px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:542px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:970px;
  width:251px;
  height:542px;
  display:flex;
}
#u1638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1091px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1639_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:44px;
  height:10px;
}
#u1639_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-5px;
  width:10px;
  height:160px;
}
#u1639_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:145px;
  width:36px;
  height:10px;
}
#u1639_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:141px;
  width:19px;
  height:18px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:542px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:970px;
  width:250px;
  height:542px;
  display:flex;
}
#u1640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1056px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1641_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u1641_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-5px;
  width:10px;
  height:195px;
}
#u1641_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:180px;
  width:38px;
  height:10px;
}
#u1641_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:176px;
  width:19px;
  height:18px;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:970px;
  width:249px;
  height:540px;
  display:flex;
}
#u1642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:1018px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1643_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u1643_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-5px;
  width:10px;
  height:232px;
}
#u1643_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:217px;
  width:36px;
  height:10px;
}
#u1643_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:213px;
  width:19px;
  height:18px;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1570px;
  width:250px;
  height:540px;
  display:flex;
}
#u1644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:1019px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1645_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u1645_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-5px;
  width:10px;
  height:530px;
}
#u1645_seg2 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:515px;
  width:172px;
  height:10px;
}
#u1645_seg3 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:515px;
  width:10px;
  height:36px;
}
#u1645_seg4 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:538px;
  width:18px;
  height:19px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1006px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2166px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
