body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:3848px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:3848px;
  display:flex;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:105px;
  width:1187px;
  height:236px;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:58px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:960px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:60px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:227px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:58px;
  width:960px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:118px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:177px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:120px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3619px;
  width:867px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:392px;
  width:249px;
  height:538px;
  display:flex;
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:877px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:430px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:30px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3759px;
  width:867px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:392px;
  width:249px;
  height:538px;
  display:flex;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:860px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:768px;
  width:0px;
  height:0px;
}
#u894_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u894_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-112px;
  width:10px;
  height:117px;
}
#u894_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-112px;
  width:34px;
  height:10px;
}
#u894_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-116px;
  width:19px;
  height:18px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:30px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3809px;
  width:867px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:705px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1334px;
  width:249px;
  height:705px;
  display:flex;
}
#u896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:586px;
  width:0px;
  height:0px;
}
#u897_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:44px;
  height:10px;
}
#u897_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-5px;
  width:10px;
  height:718px;
}
#u897_seg2 {
  border-width:0px;
  position:absolute;
  left:-1040px;
  top:703px;
  width:1084px;
  height:10px;
}
#u897_seg3 {
  border-width:0px;
  position:absolute;
  left:-1040px;
  top:703px;
  width:10px;
  height:45px;
}
#u897_seg4 {
  border-width:0px;
  position:absolute;
  left:-1044px;
  top:735px;
  width:18px;
  height:19px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:700px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2099px;
  width:249px;
  height:538px;
  display:flex;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:537px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:2099px;
  width:248px;
  height:537px;
  display:flex;
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:2099px;
  width:249px;
  height:540px;
  display:flex;
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2582px;
  width:0px;
  height:0px;
}
#u901_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u901_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-219px;
  width:10px;
  height:224px;
}
#u901_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-219px;
  width:37px;
  height:10px;
}
#u901_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-223px;
  width:19px;
  height:18px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-110px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:2149px;
  width:0px;
  height:0px;
}
#u902_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u902_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-5px;
  width:10px;
  height:230px;
}
#u902_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:215px;
  width:34px;
  height:10px;
}
#u902_seg3 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:211px;
  width:19px;
  height:18px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:2109px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:30px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3859px;
  width:867px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:2099px;
  width:249px;
  height:540px;
  display:flex;
}
#u905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:2485px;
  width:0px;
  height:0px;
}
#u906_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u906_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-121px;
  width:10px;
  height:126px;
}
#u906_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-121px;
  width:40px;
  height:10px;
}
#u906_seg3 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-125px;
  width:19px;
  height:18px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1501px;
  width:249px;
  height:538px;
  display:flex;
}
#u907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1501px;
  width:249px;
  height:538px;
  display:flex;
}
#u908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1501px;
  width:249px;
  height:538px;
  display:flex;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:1944px;
  width:0px;
  height:0px;
}
#u910_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:39px;
  height:10px;
}
#u910_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-179px;
  width:10px;
  height:184px;
}
#u910_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-179px;
  width:40px;
  height:10px;
}
#u910_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-183px;
  width:19px;
  height:18px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-96px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:2001px;
  width:0px;
  height:0px;
}
#u911_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:53px;
  height:10px;
}
#u911_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-236px;
  width:10px;
  height:241px;
}
#u911_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-236px;
  width:42px;
  height:10px;
}
#u911_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-240px;
  width:19px;
  height:18px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-118px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2697px;
  width:249px;
  height:538px;
  display:flex;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:2709px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:30px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3909px;
  width:867px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:2703px;
  width:249px;
  height:538px;
  display:flex;
}
#u915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:2703px;
  width:249px;
  height:538px;
  display:flex;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:2703px;
  width:249px;
  height:538px;
  display:flex;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:3301px;
  width:249px;
  height:539px;
  display:flex;
}
#u918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:2745px;
  width:0px;
  height:0px;
}
#u919_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:42px;
  height:10px;
}
#u919_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-5px;
  width:10px;
  height:237px;
}
#u919_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:222px;
  width:38px;
  height:10px;
}
#u919_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:218px;
  width:19px;
  height:18px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:104px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:3136px;
  width:0px;
  height:0px;
}
#u920_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:92px;
  height:10px;
}
#u920_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-169px;
  width:10px;
  height:174px;
}
#u920_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-169px;
  width:37px;
  height:10px;
}
#u920_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-173px;
  width:19px;
  height:18px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:3166px;
  width:0px;
  height:0px;
}
#u921_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:101px;
  height:10px;
}
#u921_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-199px;
  width:10px;
  height:204px;
}
#u921_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-199px;
  width:39px;
  height:10px;
}
#u921_seg3 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-203px;
  width:19px;
  height:18px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:3169px;
  width:0px;
  height:0px;
}
#u922_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:15px;
  height:10px;
}
#u922_seg1 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-5px;
  width:10px;
  height:59px;
}
#u922_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:44px;
  width:378px;
  height:10px;
}
#u922_seg3 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:44px;
  width:10px;
  height:363px;
}
#u922_seg4 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:397px;
  width:56px;
  height:10px;
}
#u922_seg5 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:393px;
  width:19px;
  height:18px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:316px;
  top:41px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:876px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:392px;
  width:250px;
  height:876px;
  display:flex;
}
#u923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:392px;
  width:249px;
  height:539px;
  display:flex;
}
#u924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:708px;
  width:0px;
  height:0px;
}
#u925_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u925_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-51px;
  width:10px;
  height:56px;
}
#u925_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-51px;
  width:41px;
  height:10px;
}
#u925_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-55px;
  width:19px;
  height:18px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:549px;
  width:0px;
  height:0px;
}
#u926_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-9px;
  width:10px;
  height:9px;
}
#u926_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-9px;
  width:123px;
  height:10px;
}
#u926_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-9px;
  width:10px;
  height:126px;
}
#u926_seg3 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:107px;
  width:31px;
  height:10px;
}
#u926_seg4 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:103px;
  width:19px;
  height:18px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:63px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
