body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:8180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:8180px;
  display:flex;
}
#u3721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:105px;
  width:1187px;
  height:236px;
}
#u3724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u3724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:58px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:960px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u3725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:60px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:227px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u3726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:58px;
  width:960px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u3727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u3728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:118px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u3729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
}
#u3730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:177px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u3731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:729px;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:382px;
  width:1187px;
  height:729px;
  display:flex;
}
#u3732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:730px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1158px;
  width:1187px;
  height:730px;
  display:flex;
}
#u3733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:730px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:5879px;
  width:1187px;
  height:730px;
  display:flex;
}
#u3734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:822px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:561px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:600px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:6669px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u3739 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:6729px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:6785px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:728px;
  width:0px;
  height:0px;
}
#u3741_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:350px;
  height:10px;
}
#u3741_seg1 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:-5px;
  width:10px;
  height:435px;
}
#u3741_seg2 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:417px;
  width:18px;
  height:19px;
}
#u3741_text {
  border-width:0px;
  position:absolute;
  left:295px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:1472px;
  width:0px;
  height:0px;
}
#u3742_seg0 {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:-5px;
  width:360px;
  height:10px;
}
#u3742_seg1 {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:-5px;
  width:10px;
  height:473px;
}
#u3742_seg2 {
  border-width:0px;
  position:absolute;
  left:-364px;
  top:455px;
  width:18px;
  height:19px;
}
#u3742_text {
  border-width:0px;
  position:absolute;
  left:-405px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:1478px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:6840px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:729px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:5083px;
  width:1187px;
  height:729px;
  display:flex;
}
#u3745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:5382px;
  width:0px;
  height:0px;
}
#u3746_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:50px;
  height:10px;
}
#u3746_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:10px;
  height:502px;
}
#u3746_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:484px;
  width:18px;
  height:19px;
}
#u3746_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:218px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:5975px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:6893px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:730px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1940px;
  width:1187px;
  height:730px;
  display:flex;
}
#u3749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:730px;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2728px;
  width:1187px;
  height:730px;
  display:flex;
}
#u3750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:730px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3512px;
  width:1187px;
  height:730px;
  display:flex;
}
#u3751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:730px;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:4287px;
  width:1187px;
  height:730px;
  display:flex;
}
#u3752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:2342px;
  width:0px;
  height:0px;
}
#u3753_seg0 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-5px;
  width:55px;
  height:10px;
}
#u3753_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-5px;
  width:10px;
  height:645px;
}
#u3753_seg2 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:627px;
  width:18px;
  height:19px;
}
#u3753_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:287px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3754 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:2281px;
  width:0px;
  height:0px;
}
#u3754_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:133px;
  height:10px;
}
#u3754_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-5px;
  width:10px;
  height:1586px;
}
#u3754_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1571px;
  width:60px;
  height:10px;
}
#u3754_seg3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1567px;
  width:19px;
  height:18px;
}
#u3754_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:744px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:3913px;
  width:0px;
  height:0px;
}
#u3755_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-5px;
  width:42px;
  height:10px;
}
#u3755_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-5px;
  width:10px;
  height:630px;
}
#u3755_seg2 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:612px;
  width:18px;
  height:19px;
}
#u3755_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:286px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:4827px;
  width:0px;
  height:0px;
}
#u3756_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:261px;
}
#u3756_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:243px;
  width:18px;
  height:19px;
}
#u3756_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
