body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:3093px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:3093px;
  display:flex;
}
#u2376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:104px;
  width:1190px;
  height:296px;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:58px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u2379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:58px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:1035px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:152px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u2381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:60px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:58px;
  width:1035px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:59px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:152px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u2383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:59px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:118px;
  width:1035px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:152px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u2385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:60px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:177px;
  width:1035px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
  text-align:left;
}
#u2386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:59px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:152px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u2387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:59px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:237px;
  width:1035px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:437px;
  width:113px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u2389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:485px;
  width:1190px;
  height:63px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:1284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:632px;
  width:1190px;
  height:1284px;
  display:flex;
}
#u2391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:547px;
  width:1190px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:590px;
  width:1190px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:696px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:834px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:982px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:982px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:982px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:1129px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:83px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:1274px;
  width:138px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1482px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:1618px;
  width:79px;
  height:79px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:756px;
  width:0px;
  height:0px;
}
#u2403_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:83px;
}
#u2403_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:65px;
  width:18px;
  height:19px;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:894px;
  width:0px;
  height:0px;
}
#u2404_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:41px;
}
#u2404_seg1 {
  border-width:0px;
  position:absolute;
  left:-246px;
  top:31px;
  width:251px;
  height:10px;
}
#u2404_seg2 {
  border-width:0px;
  position:absolute;
  left:-246px;
  top:31px;
  width:10px;
  height:57px;
}
#u2404_seg3 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:75px;
  width:18px;
  height:19px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:894px;
  width:0px;
  height:0px;
}
#u2405_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:93px;
}
#u2405_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:75px;
  width:18px;
  height:19px;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:894px;
  width:0px;
  height:0px;
}
#u2406_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:41px;
}
#u2406_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:31px;
  width:251px;
  height:10px;
}
#u2406_seg2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:31px;
  width:10px;
  height:57px;
}
#u2406_seg3 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:75px;
  width:18px;
  height:19px;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:1042px;
  width:0px;
  height:0px;
}
#u2407_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:92px;
}
#u2407_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:74px;
  width:18px;
  height:19px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:1189px;
  width:0px;
  height:0px;
}
#u2408_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:90px;
}
#u2408_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:19px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:1357px;
  width:0px;
  height:0px;
}
#u2409_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u2409_seg1 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:48px;
  width:124px;
  height:10px;
}
#u2409_seg2 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:48px;
  width:10px;
  height:77px;
}
#u2409_seg3 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:112px;
  width:18px;
  height:19px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:1482px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u2410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:1357px;
  width:0px;
  height:0px;
}
#u2411_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u2411_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:48px;
  width:124px;
  height:10px;
}
#u2411_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:48px;
  width:10px;
  height:77px;
}
#u2411_seg3 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:112px;
  width:18px;
  height:19px;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:1542px;
  width:0px;
  height:0px;
}
#u2412_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u2412_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:63px;
  width:18px;
  height:19px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
