body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:3093px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:3093px;
  display:flex;
}
#u1578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:105px;
  width:1187px;
  height:236px;
}
#u1581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:58px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:960px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:60px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:227px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:58px;
  width:960px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:118px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
}
#u1587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:177px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:538px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:400px;
  width:250px;
  height:538px;
  display:flex;
}
#u1589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:537px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:400px;
  width:249px;
  height:537px;
  display:flex;
}
#u1590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:537px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:400px;
  width:248px;
  height:537px;
  display:flex;
}
#u1591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:538px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:399px;
  width:248px;
  height:538px;
  display:flex;
}
#u1592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:597px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1593_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:41px;
  height:10px;
}
#u1593_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-5px;
  width:10px;
  height:82px;
}
#u1593_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:67px;
  width:39px;
  height:10px;
}
#u1593_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:63px;
  width:19px;
  height:18px;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:582px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1594_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:57px;
  height:10px;
}
#u1594_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-5px;
  width:10px;
  height:97px;
}
#u1594_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:82px;
  width:38px;
  height:10px;
}
#u1594_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:78px;
  width:19px;
  height:18px;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:448px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1595_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u1595_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-5px;
  width:10px;
  height:230px;
}
#u1595_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:215px;
  width:36px;
  height:10px;
}
#u1595_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:211px;
  width:19px;
  height:18px;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:997px;
  width:250px;
  height:540px;
  display:flex;
}
#u1596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:690px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1597_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u1597_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-5px;
  width:10px;
  height:289px;
}
#u1597_seg2 {
  border-width:0px;
  position:absolute;
  left:-1030px;
  top:274px;
  width:1093px;
  height:10px;
}
#u1597_seg3 {
  border-width:0px;
  position:absolute;
  left:-1030px;
  top:274px;
  width:10px;
  height:33px;
}
#u1597_seg4 {
  border-width:0px;
  position:absolute;
  left:-1034px;
  top:294px;
  width:18px;
  height:19px;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:-379px;
  top:271px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:997px;
  width:249px;
  height:540px;
  display:flex;
}
#u1598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:1046px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1599_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u1599_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:231px;
}
#u1599_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:216px;
  width:36px;
  height:10px;
}
#u1599_seg3 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:212px;
  width:19px;
  height:18px;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:96px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1076px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1114px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1578px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1625px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1694px;
  width:249px;
  height:540px;
  display:flex;
}
#u1604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1694px;
  width:249px;
  height:540px;
  display:flex;
}
#u1605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:1694px;
  width:250px;
  height:540px;
  display:flex;
}
#u1606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1694px;
  width:249px;
  height:540px;
  display:flex;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:540px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:2288px;
  width:250px;
  height:540px;
  display:flex;
}
#u1608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1742px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1609_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u1609_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-5px;
  width:10px;
  height:232px;
}
#u1609_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:217px;
  width:43px;
  height:10px;
}
#u1609_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:213px;
  width:19px;
  height:18px;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:103px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1610_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u1610_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-5px;
  width:10px;
  height:192px;
}
#u1610_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:177px;
  width:31px;
  height:10px;
}
#u1610_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:173px;
  width:19px;
  height:18px;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:1814px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1611_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u1611_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:41px;
  height:10px;
}
#u1611_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-146px;
  width:10px;
  height:151px;
}
#u1611_seg3 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-146px;
  width:330px;
  height:10px;
}
#u1611_seg4 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:-146px;
  width:10px;
  height:301px;
}
#u1611_seg5 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:145px;
  width:35px;
  height:10px;
}
#u1611_seg6 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:141px;
  width:19px;
  height:18px;
}
#u1611_text {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-149px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:2234px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:8px;
}
#u1612_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:31px;
}
#u1612_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:21px;
  width:319px;
  height:10px;
}
#u1612_seg2 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:21px;
  width:10px;
  height:33px;
}
#u1612_seg3 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:41px;
  width:18px;
  height:19px;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:106px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:1728px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:2319px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2865px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:30px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2912px;
  width:1187px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
