body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:3093px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:3093px;
  display:flex;
}
#u4793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:104px;
  width:1190px;
  height:295px;
}
#u4796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:58px;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u4796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:58px;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:1035px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u4798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:152px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u4798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:60px;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:58px;
  width:1035px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:59px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:152px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u4800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:59px;
}
#u4801 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:118px;
  width:1035px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:59px;
}
#u4802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:152px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u4802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:59px;
}
#u4803 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:177px;
  width:1035px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:59px;
}
#u4804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:152px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u4804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:59px;
}
#u4805 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:236px;
  width:1035px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4806 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:437px;
  width:113px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4807 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:485px;
  width:1190px;
  height:63px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:787px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4808 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:633px;
  width:1190px;
  height:787px;
  display:flex;
}
#u4808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4809 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:547px;
  width:1190px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4810 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:590px;
  width:1190px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4811 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:668px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4812 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:782px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4813 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:892px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4814 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:892px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4815 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:892px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4816 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1027px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:1027px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:1027px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) NaN%, rgba(242, 242, 242, 1) NaN%, rgba(255, 255, 255, 1) NaN%, rgba(228, 228, 228, 1) NaN%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:1209px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
}
#u4819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:728px;
  width:0px;
  height:0px;
}
#u4820_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:59px;
}
#u4820_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u4820_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:842px;
  width:0px;
  height:0px;
}
#u4821_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:23px;
}
#u4821_seg1 {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:13px;
  width:236px;
  height:10px;
}
#u4821_seg2 {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:13px;
  width:10px;
  height:37px;
}
#u4821_seg3 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:37px;
  width:18px;
  height:19px;
}
#u4821_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:842px;
  width:0px;
  height:0px;
}
#u4822_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u4822_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u4822_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4823 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:842px;
  width:0px;
  height:0px;
}
#u4823_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:23px;
}
#u4823_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:13px;
  width:236px;
  height:10px;
}
#u4823_seg2 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:13px;
  width:10px;
  height:37px;
}
#u4823_seg3 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:37px;
  width:18px;
  height:19px;
}
#u4823_text {
  border-width:0px;
  position:absolute;
  left:70px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4824 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:952px;
  width:0px;
  height:0px;
}
#u4824_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u4824_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:19px;
}
#u4824_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4825 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:952px;
  width:0px;
  height:0px;
}
#u4825_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u4825_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:19px;
}
#u4825_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4826 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:952px;
  width:0px;
  height:0px;
}
#u4826_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:80px;
}
#u4826_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:19px;
}
#u4826_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4827 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1087px;
  width:0px;
  height:0px;
}
#u4827_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u4827_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:48px;
  width:124px;
  height:10px;
}
#u4827_seg2 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:48px;
  width:10px;
  height:74px;
}
#u4827_seg3 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:109px;
  width:18px;
  height:19px;
}
#u4827_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:45px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:1087px;
  width:0px;
  height:0px;
}
#u4828_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u4828_seg1 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:48px;
  width:122px;
  height:10px;
}
#u4828_seg2 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:48px;
  width:10px;
  height:74px;
}
#u4828_seg3 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:109px;
  width:18px;
  height:19px;
}
#u4828_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:45px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
