body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1305px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:3329px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:4px;
  width:1304px;
  height:3329px;
  display:flex;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:52px;
  background:inherit;
  background-color:rgba(62, 147, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:4px;
  width:1304px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:105px;
  width:1187px;
  height:236px;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:58px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:960px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:60px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:227px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:58px;
  width:960px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:118px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:59px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:227px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
}
#u936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:59px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:177px;
  width:960px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:30px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1609px;
  width:1176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:30px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1659px;
  width:1176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:399px;
  width:249px;
  height:539px;
  display:flex;
}
#u940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1000px;
  width:249px;
  height:539px;
  display:flex;
}
#u941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1000px;
  width:249px;
  height:539px;
  display:flex;
}
#u942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:1100px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:399px;
  width:249px;
  height:540px;
  display:flex;
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:436px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1000px;
  width:249px;
  height:539px;
  display:flex;
}
#u946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:1285px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:866px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:30px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1709px;
  width:1176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:30px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1759px;
  width:1176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:603px;
  width:0px;
  height:0px;
}
#u951_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:59px;
  height:10px;
}
#u951_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-5px;
  width:10px;
  height:76px;
}
#u951_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:61px;
  width:40px;
  height:10px;
}
#u951_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:57px;
  width:19px;
  height:18px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1252px;
  width:0px;
  height:0px;
}
#u952_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:23px;
}
#u952_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:13px;
  width:107px;
  height:10px;
}
#u952_seg2 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:9px;
  width:19px;
  height:18px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:1434px;
  width:0px;
  height:0px;
}
#u953_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:132px;
  height:10px;
}
#u953_seg1 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-464px;
  width:10px;
  height:469px;
}
#u953_seg2 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-464px;
  width:171px;
  height:10px;
}
#u953_seg3 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:-496px;
  width:10px;
  height:42px;
}
#u953_seg4 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:-502px;
  width:18px;
  height:19px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-273px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1467px;
  width:0px;
  height:0px;
}
#u954_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:143px;
  height:10px;
}
#u954_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-202px;
  width:10px;
  height:207px;
}
#u954_seg2 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-202px;
  width:25px;
  height:10px;
}
#u954_seg3 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-206px;
  width:19px;
  height:18px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:669px;
  width:0px;
  height:0px;
}
#u955_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u955_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:653px;
  width:0px;
  height:0px;
}
#u956_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:21px;
}
#u956_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:11px;
  width:167px;
  height:10px;
}
#u956_seg2 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:7px;
  width:19px;
  height:18px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:893px;
  width:0px;
  height:0px;
}
#u957_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-43px;
  width:10px;
  height:43px;
}
#u957_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-43px;
  width:237px;
  height:10px;
}
#u957_seg2 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:-229px;
  width:10px;
  height:196px;
}
#u957_seg3 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:-229px;
  width:41px;
  height:10px;
}
#u957_seg4 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:-233px;
  width:19px;
  height:18px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1849px;
  width:249px;
  height:540px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1849px;
  width:249px;
  height:540px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1849px;
  width:249px;
  height:540px;
  display:flex;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:540px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1849px;
  width:249px;
  height:540px;
  display:flex;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:1870px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:2134px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:30px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3163px;
  width:1176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:30px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:3213px;
  width:1176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:2449px;
  width:249px;
  height:539px;
  display:flex;
}
#u966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:2460px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:2449px;
  width:249px;
  height:538px;
  display:flex;
}
#u968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:2449px;
  width:249px;
  height:538px;
  display:flex;
}
#u969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:538px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:2449px;
  width:249px;
  height:538px;
  display:flex;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:2734px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:1897px;
  width:0px;
  height:0px;
}
#u972_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:39px;
  height:10px;
}
#u972_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-5px;
  width:10px;
  height:232px;
}
#u972_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:217px;
  width:38px;
  height:10px;
}
#u972_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:213px;
  width:19px;
  height:18px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:102px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:2285px;
  width:0px;
  height:0px;
}
#u973_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:112px;
  height:10px;
}
#u973_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-171px;
  width:10px;
  height:176px;
}
#u973_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-171px;
  width:37px;
  height:10px;
}
#u973_seg3 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-175px;
  width:19px;
  height:18px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:2318px;
  width:0px;
  height:0px;
}
#u974_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:107px;
}
#u974_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:97px;
  width:428px;
  height:10px;
}
#u974_seg2 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:-204px;
  width:10px;
  height:311px;
}
#u974_seg3 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:-204px;
  width:33px;
  height:10px;
}
#u974_seg4 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:-208px;
  width:19px;
  height:18px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:272px;
  top:94px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:2498px;
  width:0px;
  height:0px;
}
#u975_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:38px;
  height:10px;
}
#u975_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-5px;
  width:10px;
  height:230px;
}
#u975_seg2 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:215px;
  width:40px;
  height:10px;
}
#u975_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:211px;
  width:19px;
  height:18px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:103px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:2881px;
  width:0px;
  height:0px;
}
#u976_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:101px;
  height:10px;
}
#u976_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-168px;
  width:10px;
  height:173px;
}
#u976_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-168px;
  width:40px;
  height:10px;
}
#u976_seg3 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-172px;
  width:19px;
  height:18px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-59px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:2914px;
  width:0px;
  height:0px;
}
#u977_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:120px;
}
#u977_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:110px;
  width:415px;
  height:10px;
}
#u977_seg2 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:-201px;
  width:10px;
  height:321px;
}
#u977_seg3 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:-201px;
  width:35px;
  height:10px;
}
#u977_seg4 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:-205px;
  width:19px;
  height:18px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:266px;
  top:107px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:876px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:399px;
  width:250px;
  height:876px;
  display:flex;
}
#u978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:539px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:399px;
  width:249px;
  height:539px;
  display:flex;
}
#u979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:977px;
  width:0px;
  height:0px;
}
#u980_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u980_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-313px;
  width:10px;
  height:318px;
}
#u980_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-313px;
  width:43px;
  height:10px;
}
#u980_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-317px;
  width:19px;
  height:18px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-166px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:532px;
  width:0px;
  height:0px;
}
#u981_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:101px;
  height:10px;
}
#u981_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-5px;
  width:10px;
  height:147px;
}
#u981_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:132px;
  width:40px;
  height:10px;
}
#u981_seg3 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:128px;
  width:19px;
  height:18px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
